@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.testimonials-section {
  width: 100vw;
  margin-top: 3vh;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;

  h1 {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 2vh;
  }

  p {
    font-weight: 600;
  }

  .video-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;

    .videopanel {
      margin-top: 2vh;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 57vw;
      gap: 3vw;
      height: 60vh;

      div {
        gap: 5vw;
      }
      .videoframe {
        width: fit-content;
        height: 50vh;
      }

      .mainframe {
        width: fit-content;
        height: 55vh;
      }
    }
    .nav-buttons {
      height: max-content;
      padding: 1vh 1vw;
      border-radius: 10px;
      background-color: #ffafaf;
      color: white;
    }
  }
}
