@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

*{
    margin:0px;
    padding: 0px;
}

.nav{
    width: 100vw;
    height: 8vh;
    background: #1B1E29;
    color: white;
    display: flex;
    align-items: center;
}

.nav .title{
    margin-left: 1.5vw;
    font-size: 2rem;
    flex-grow: 1;
    font-family: Roboto;
}

.login{
    border: 1px solid black;
    border-radius: 7px;
    background-color: antiquewhite;
    padding: 4px;
    font-size: 0.9rem;
    font-weight: 600;
    margin-right: auto;
    position: relative;
    right: 2vw;
}